
/* <<<Header>>> */


header{
    margin: 0 auto;
    width: 1440px;
    padding: 41px 117px 100px 69px;
}

nav{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
    margin-right: 229px;
}

li{
    display: inline-block;
    margin-right: 83px;
    font-family: "Nerko One";
    font-weight: 400;
    font-size: 32px;
}

li a{
    color: #0F5009;
}

.active{
    color: #FA1A35;
}


/* <<< Section >>> */


section{
    background-color: #1F6519;
    width: 1440px;
    margin: 0 auto;
    padding: 110px 0px 154px 69px;
}

.section_Photo{
    width: 766px;
    height: 559px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 96px;
}

.section_dv{
    width: 448px;
    height: 480px;
    display: inline-block;
    vertical-align: top;
    color: #FFFFFF;
}

h2{
    font-family: 'Nerko One';
    font-size: 36px;
    text-align: center;
    margin-bottom: 35px;
}

.section_text{
    font-family: 'PT Serif';
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 42px;
}